<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302820889013-bas0k8pdqqh60gv8hgs77nt5atpv4gdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302820889013-bas0k8pdqqh60gv8hgs77nt5atpv4gdr</string>
	<key>API_KEY</key>
	<string>AIzaSyBWKkDn4QoVJpiwl8SKmOf4HwB2j3_uoZg</string>
	<key>GCM_SENDER_ID</key>
	<string>302820889013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.academinPerformanceCalculator</string>
	<key>PROJECT_ID</key>
	<string>academicperformancecalculator</string>
	<key>STORAGE_BUCKET</key>
	<string>academicperformancecalculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302820889013:ios:9edaad31488e54831649fc</string>
</dict>
</plist>